<font size="6">  
    Performance Task Assignment -- Lucas Barber
</font>

This jupyter notebook contains the code for each task, as well as exploration and pre-processing steps. It contains the following sections, separated by a markdown cell:

    -- Data preprocessing

    -- Task 1

    -- Task 2

    -- Task 3

    -- Task 4
    

I've done all tasks in a singular notebook so that we don't have to re-clean or re-process data.
Starting with loading each sheet of the excel workbook into a dataframe, inspecting each sheets data, and cleaning as needed.

In [37]:
import pandas as pd
from openpyxl import load_workbook

In [4]:
workbook_df = pd.read_excel("Starting Materials/Data Specialist Performance Task Data.xlsx", sheet_name=["Students", "Events", "Student_Events"])

students = workbook_df["Students"]
events = workbook_df["Events"]
student_events = workbook_df["Student_Events"]

Students sheet

In [5]:
students.head(10)

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare
1,37265,Shellie,Hopkins,9,james gordon center for learning,gotham city public schools,gcps,gcps37265,NaN
2,60513,Moses,Solomon,10,lucius fox high school,gotham city public schools,gcps,gcps60513,healthcare
3,43758,Macon,Hewitt,12,james gordon center for learning,gotham city public schools,gcps,gcps43758,healthcare
4,71800,Jenette,Jimenez,12,lost boys academy,neverland public schools,nps,nps71800,NaN
5,32657,Chanda,Shaffer,11,lost boys academy,neverland public schools,nps,nps32657,NaN
6,41126,Felix,Perkins,9,captain hook high school,neverland public schools,nps,nps41126,manufacturing
7,75026,Cedric,Moss,11,lucius fox high school,gotham city public schools,gcps,gcps75026,healthcare
8,44509,Cailin,Russell,11,lost boys academy,neverland public schools,nps,nps44509,manufacturing
9,66859,Sara,Garrison,10,james gordon center for learning,gotham city public schools,gcps,gcps66859,NaN

In [6]:
#overall picture of df, column names
print([students.info(),
       students.columns])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id number   998 non-null    int64
 1   first name  998 non-null    object
 2   last name   998 non-null    object
 3   grade       998 non-null    int64
 4   school      998 non-null    object
 5   district    998 non-null    object
 6   dist_code   998 non-null    object
 7   sys_id      998 non-null    object
 8   pathway     516 non-null    object
dtypes: int64(2), object(7)
memory usage: 70.3+ KB
[None, Index(['id number', 'first name', 'last name', 'grade ', 'school', 'district',
       'dist_code', 'sys_id', 'pathway'],
      dtype='object')]

In [7]:
students
#note: I'm leaving the nan values intact for now to preserve integrity, but noted them!

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare
1,37265,Shellie,Hopkins,9,james gordon center for learning,gotham city public schools,gcps,gcps37265,NaN
2,60513,Moses,Solomon,10,lucius fox high school,gotham city public schools,gcps,gcps60513,healthcare
3,43758,Macon,Hewitt,12,james gordon center for learning,gotham city public schools,gcps,gcps43758,healthcare
4,71800,Jenette,Jimenez,12,lost boys academy,neverland public schools,nps,nps71800,NaN
...,...,...,...,...,...,...,...,...,...
993,14022,Damian,Lott,9,lucius fox high school,gotham city public schools,gcps,gcps14022,healthcare
994,69538,Vincent,Sweeney,9,lost boys academy,neverland public schools,nps,nps69538,NaN
995,74749,Chastity,Horne,12,james gordon center for learning,gotham city public schools,gcps,gcps74749,NaN
996,94683,Driscoll,Pennington,11,captain hook high school,neverland public schools,nps,nps94683,manufacturing
997,77113,Orli,Travis,9,lost boys academy,neverland public schools,nps,nps77113,NaN

In [8]:
#removing the space from grade column name, checking it works
students = students.rename(columns= {"grade ":"grade"})
students["grade"]

0      10
1       9
2      10
3      12
4      12
       ..
993     9
994     9
995    12
996    11
997     9
Name: grade, Length: 998, dtype: int64

In [9]:
#inspecting grades
students["grade"].unique()

array([10,  9, 12, 11], dtype=int64)

In [10]:
#checking all id numbers are unique
students["id number"].nunique()

998

In [11]:
#checking all sys_id numbers are unique
students["sys_id"].nunique()

998

In [12]:
#checking all dist_code numbers are unique
students["dist_code"].unique()

array(['gcps', 'nps'], dtype=object)

In [13]:
#checking all prefixes match in the dist_code and sys_id rows
#if dist_code row contains gcps, then sys_id row should contain gcps, same for nps

students["sys_id_prefix"] = students["sys_id"].str.extract(r"^(gcps|nps)", expand=False)

mismatch = students[students["dist_code"] != students["sys_id_prefix"]]

if not mismatch.empty:
    print("Prefix mismatch:")
    print(mismatch)
else:
    print("All prefixes match.")

All prefixes match.

In [14]:
#dropping the extra column we just made to check prefixes
students.drop(columns="sys_id_prefix", inplace=True)

In [15]:
#checking consistency
students["district"].unique()

array(['gotham city public schools', 'neverland public schools'],
      dtype=object)

In [16]:
#checking consistency
students["school"].unique()

array(['james gordon center for learning', 'lucius fox high school',
       'lost boys academy', 'captain hook high school'], dtype=object)

In [17]:
#checking consistency
students["pathway"].unique()

array(['healthcare', nan, 'manufacturing'], dtype=object)

Events sheet

In [18]:
events

,event_id,school,event_date,location,school_hours,event_type
0,CAP-1,captain hook high school,2023-11-22,off school grounds,outside school hours,resume review
1,CAP-2,captain hook high school,2024-03-24,on school grounds,outside school hours,worksite tour
2,CAP-3,captain hook high school,2024-05-13,on school grounds,outside school hours,mock interview
3,CAP-4,captain hook high school,2023-12-01,off school grounds,during school hours,resume review
4,CAP-5,captain hook high school,2024-01-30,on school grounds,during school hours,resume review
...,...,...,...,...,...,...
57,LUC-14,lucius fox high school,2024-03-26,off school grounds,outside school hours,skills workshop
58,LUC-15,lucius fox high school,2024-03-02,off school grounds,during school hours,mock interview
59,LUC-16,lucius fox high school,2024-01-22,on school grounds,during school hours,resume review
60,LUC-17,lucius fox high school,2024-02-16,on school grounds,during school hours,worksite tour
61,LUC-18,lucius fox high school,2024-01-28,on school grounds,during school hours,mock interview

In [19]:
print([events.info(),
       events.columns])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   event_id      62 non-null     object
 1   school        62 non-null     object
 2   event_date    62 non-null     datetime64[ns]
 3   location      62 non-null     object
 4   school_hours  62 non-null     object
 5   event_type    62 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 3.0+ KB
[None, Index(['event_id', 'school', 'event_date', 'location', 'school_hours',
       'event_type'],
      dtype='object')]

In [20]:
print([events["school"].unique(),
       events["location"].unique(),
       events["school_hours"].unique(),
       events["event_type"].unique()
       ])

[array(['captain hook high school', 'lost boys academy',
       'james gordon center for learning', 'lucius fox high school'],
      dtype=object), array(['off school grounds', 'on school grounds'], dtype=object), array(['outside school hours', 'during school hours'], dtype=object), array(['resume review', 'worksite tour', 'mock interview',
       'skills workshop', 'guest speaker'], dtype=object)]

student_events sheet

In [21]:
print([student_events.info(), 
       student_events.columns])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1845 entries, 0 to 1844
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  1845 non-null   object
 1   event_id    1845 non-null   object
dtypes: object(2)
memory usage: 29.0+ KB
[None, Index(['student_id', 'event_id'], dtype='object')]

In [22]:
student_events.nunique()

student_id    814
event_id       62
dtype: int64

In [23]:
student_events["event_id"].unique()

array(['LUC-4', 'LUC-17', 'CAP-7', 'LUC-10', 'LOS-6', 'LOS-4', 'CAP-2',
       'LOS-10', 'JAM-11', 'JAM-7', 'LUC-8', 'LUC-18', 'LOS-13', 'JAM-12',
       'JAM-4', 'LUC-16', 'CAP-15', 'LUC-7', 'CAP-1', 'LUC-6', 'LOS-8',
       'CAP-9', 'LOS-2', 'LOS-3', 'CAP-17', 'CAP-3', 'CAP-14', 'CAP-16',
       'CAP-4', 'JAM-9', 'LOS-7', 'LUC-3', 'JAM-3', 'CAP-13', 'JAM-5',
       'LUC-13', 'LUC-1', 'LOS-14', 'CAP-6', 'JAM-6', 'LOS-1', 'LUC-11',
       'LOS-12', 'JAM-10', 'CAP-11', 'JAM-8', 'LUC-2', 'LUC-5', 'CAP-8',
       'LUC-9', 'LUC-14', 'LOS-11', 'CAP-5', 'JAM-2', 'CAP-12', 'CAP-10',
       'LUC-12', 'LOS-9', 'LUC-15', 'LOS-5', 'CAP-18', 'JAM-1'],
      dtype=object)

<font size="6">  
    Task 1:Event Attendance List for Principals
</font>

The principals of Captain Hook High School and James Gordon Center for Learning have  requested a list of events along with the students who attended them. The list should include the  student’s details as well as information about the events they attended. 

Please use Python join the provided datasets and generate the required list. The output should  include the following columns: 
●   First Name
●   Last Name 
●   Student ID 
●   Grade 
●   Pathway 
●   Location 
●   School Hours 
●   Event Type

In [24]:
#joining the three dataframes together
#starting with students and student_events, then with event_id
stu_stu_events = pd.merge(students, student_events, left_on="sys_id", right_on="student_id")

stu_stu_events.head()

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway,student_id,event_id
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,gcps39481,JAM-11
1,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,gcps39481,JAM-3
2,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,gcps39481,JAM-9
3,37265,Shellie,Hopkins,9,james gordon center for learning,gotham city public schools,gcps,gcps37265,NaN,gcps37265,JAM-6
4,60513,Moses,Solomon,10,lucius fox high school,gotham city public schools,gcps,gcps60513,healthcare,gcps60513,LUC-14

In [25]:
stu_stu_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1845 entries, 0 to 1844
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id number   1845 non-null   int64
 1   first name  1845 non-null   object
 2   last name   1845 non-null   object
 3   grade       1845 non-null   int64
 4   school      1845 non-null   object
 5   district    1845 non-null   object
 6   dist_code   1845 non-null   object
 7   sys_id      1845 non-null   object
 8   pathway     1093 non-null   object
 9   student_id  1845 non-null   object
 10  event_id    1845 non-null   object
dtypes: int64(2), object(9)
memory usage: 158.7+ KB

In [26]:
full_attendance = pd.merge(stu_stu_events, events, on="event_id")

full_attendance

,id number,first name,last name,grade,school_x,district,dist_code,sys_id,pathway,student_id,event_id,school_y,event_date,location,school_hours,event_type
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,gcps39481,JAM-11,james gordon center for learning,2024-03-27,off school grounds,during school hours,worksite tour
1,86341,Brenda,Ortiz,10,james gordon center for learning,gotham city public schools,gcps,gcps86341,healthcare,gcps86341,JAM-11,james gordon center for learning,2024-03-27,off school grounds,during school hours,worksite tour
2,84350,Carly,Duran,12,james gordon center for learning,gotham city public schools,gcps,gcps84350,NaN,gcps84350,JAM-11,james gordon center for learning,2024-03-27,off school grounds,during school hours,worksite tour
3,65604,Unity,Vaughan,10,james gordon center for learning,gotham city public schools,gcps,gcps65604,healthcare,gcps65604,JAM-11,james gordon center for learning,2024-03-27,off school grounds,during school hours,worksite tour
4,90508,Evangeline,Dawson,10,james gordon center for learning,gotham city public schools,gcps,gcps90508,NaN,gcps90508,JAM-11,james gordon center for learning,2024-03-27,off school grounds,during school hours,worksite tour
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1840,78273,Nina,Calhoun,12,lucius fox high school,gotham city public schools,gcps,gcps78273,healthcare,gcps78273,LUC-12,lucius fox high school,2024-04-03,off school grounds,outside school hours,mock interview
1841,23316,Keegan,Bass,10,lucius fox high school,gotham city public schools,gcps,gcps23316,healthcare,gcps23316,LUC-12,lucius fox high school,2024-04-03,off school grounds,outside school hours,mock interview
1842,27418,Palmer,Compton,9,lucius fox high school,gotham city public schools,gcps,gcps27418,NaN,gcps27418,LUC-12,lucius fox high school,2024-04-03,off school grounds,outside school hours,mock interview
1843,64734,Shad,Phillips,11,lucius fox high school,gotham city public schools,gcps,gcps64734,healthcare,gcps64734,LUC-12,lucius fox high school,2024-04-03,off school grounds,outside school hours,mock interview
1844,82711,Willow,Reynolds,11,lucius fox high school,gotham city public schools,gcps,gcps82711,healthcare,gcps82711,LUC-12,lucius fox high school,2024-04-03,off school grounds,outside school hours,mock interview

In [27]:
full_attendance.drop(columns="school_y", inplace=True)
full_attendance.rename(columns={"school_x": "school"}, inplace=True)
#note: full_attendance dataframe does not contain students who did not go to events. Also, students who went to >1 event will appear multiple times.

In [28]:
#filtering for the two schools
filter = full_attendance[full_attendance["school"].isin(["captain hook high school", "james gordon center for learning"])]

captain_james_attendance = filter[["first name", "last name", "student_id", "grade", "pathway", "location", "school_hours", "event_type"]]

captain_james_attendance

,first name,last name,student_id,grade,pathway,location,school_hours,event_type
0,Halee,Rice,gcps39481,10,healthcare,off school grounds,during school hours,worksite tour
1,Brenda,Ortiz,gcps86341,10,healthcare,off school grounds,during school hours,worksite tour
2,Carly,Duran,gcps84350,12,NaN,off school grounds,during school hours,worksite tour
3,Unity,Vaughan,gcps65604,10,healthcare,off school grounds,during school hours,worksite tour
4,Evangeline,Dawson,gcps90508,10,NaN,off school grounds,during school hours,worksite tour
...,...,...,...,...,...,...,...,...
1792,Kevyn,Love,gcps95695,11,healthcare,on school grounds,during school hours,worksite tour
1793,Alexa,Rowe,gcps99474,11,healthcare,on school grounds,during school hours,worksite tour
1794,Neil,Mccoy,gcps71191,11,healthcare,on school grounds,during school hours,worksite tour
1795,Stephanie,Stewart,gcps86054,9,healthcare,on school grounds,during school hours,worksite tour
1796,Naomi,Mccullough,gcps20717,11,NaN,on school grounds,during school hours,worksite tour

In [29]:
captain_james_attendance.rename(columns={
    "school_student": "School",  
    "first name": "First Name",
    "last name": "Last Name",
    "student_id": "Student ID",
    "grade": "Grade",
    "pathway": "Pathway",
    "location": "Location",
    "school_hours": "School Hours",
    "event_type": "Event Type"
}, inplace=True)

captain_james_attendance

C:\Users\lucas\AppData\Local\Temp\ipykernel_25720\212382650.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  captain_james_attendance.rename(columns={

,First Name,Last Name,Student ID,Grade,Pathway,Location,School Hours,Event Type
0,Halee,Rice,gcps39481,10,healthcare,off school grounds,during school hours,worksite tour
1,Brenda,Ortiz,gcps86341,10,healthcare,off school grounds,during school hours,worksite tour
2,Carly,Duran,gcps84350,12,NaN,off school grounds,during school hours,worksite tour
3,Unity,Vaughan,gcps65604,10,healthcare,off school grounds,during school hours,worksite tour
4,Evangeline,Dawson,gcps90508,10,NaN,off school grounds,during school hours,worksite tour
...,...,...,...,...,...,...,...,...
1792,Kevyn,Love,gcps95695,11,healthcare,on school grounds,during school hours,worksite tour
1793,Alexa,Rowe,gcps99474,11,healthcare,on school grounds,during school hours,worksite tour
1794,Neil,Mccoy,gcps71191,11,healthcare,on school grounds,during school hours,worksite tour
1795,Stephanie,Stewart,gcps86054,9,healthcare,on school grounds,during school hours,worksite tour
1796,Naomi,Mccullough,gcps20717,11,NaN,on school grounds,during school hours,worksite tour

In [45]:
captain_james_attendance.to_csv("Task 1.csv", index=False)

<font size="6">  
    Task 2: Flagging WBL Participants 
</font>

 In our data system, any student who has participated in a Work-Based Learning (WBL) event is  considered a  WBL participant  . Using the provided datasets,  flag all students who have  participated in any WBL event.  Please provide an updated  Students  dataset (or a new  dataset) with an additional column, 
 WBL_Participant  , that indicates whether a student  participated in a WBL event. Please include  any Python code used.

In [31]:
#making a new dataset from the students dataframe
#then looping through the student_events dataframe to record whether or not student ids appear
updated_students = students.copy()

updated_students["WBL Participant"] = "no"

updated_students["WBL Participant"] = updated_students["sys_id"].apply(
    lambda x: "yes" if x in student_events["student_id"].values else "no"
)

updated_students

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway,WBL Participant
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,yes
1,37265,Shellie,Hopkins,9,james gordon center for learning,gotham city public schools,gcps,gcps37265,NaN,yes
2,60513,Moses,Solomon,10,lucius fox high school,gotham city public schools,gcps,gcps60513,healthcare,yes
3,43758,Macon,Hewitt,12,james gordon center for learning,gotham city public schools,gcps,gcps43758,healthcare,yes
4,71800,Jenette,Jimenez,12,lost boys academy,neverland public schools,nps,nps71800,NaN,no
...,...,...,...,...,...,...,...,...,...,...
993,14022,Damian,Lott,9,lucius fox high school,gotham city public schools,gcps,gcps14022,healthcare,yes
994,69538,Vincent,Sweeney,9,lost boys academy,neverland public schools,nps,nps69538,NaN,no
995,74749,Chastity,Horne,12,james gordon center for learning,gotham city public schools,gcps,gcps74749,NaN,no
996,94683,Driscoll,Pennington,11,captain hook high school,neverland public schools,nps,nps94683,manufacturing,yes
997,77113,Orli,Travis,9,lost boys academy,neverland public schools,nps,nps77113,NaN,yes

In [42]:
updated_students.to_csv("Task 2.csv", index=False)

<font size="6">  
    Task 3: Counting WBL Events per Student 
</font>

 Understanding the level of engagement of students in Work-Based Learning (WBL) activities is  crucial for evaluating program impact. To this end, we need to count the number of WBL events  each student has participated in.  Using the provided datasets, count the number of WBL events that each student has participated  in. Please provide an updated  Students  dataset (or  a new dataset) with an additional column, 
 WBL_Event_Count  , indicating the number of WBL events  each student has participated in. Please  include any Python code used.

In [33]:
#making a new dataset from the students dataframe
#then looping through the student_events dataframe to count how many times each id appears. If none, then 0.

wblcount_students = students.copy()

wblcount_students["WBL_Event_Count"] = 0

events_attended = student_events["student_id"].value_counts()

wblcount_students["WBL_Event_Count"] = wblcount_students["sys_id"].apply(
    lambda x: events_attended.get(x, 0)
)

wblcount_students

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway,WBL_Event_Count
0,39481,Halee,Rice,10,james gordon center for learning,gotham city public schools,gcps,gcps39481,healthcare,3
1,37265,Shellie,Hopkins,9,james gordon center for learning,gotham city public schools,gcps,gcps37265,NaN,1
2,60513,Moses,Solomon,10,lucius fox high school,gotham city public schools,gcps,gcps60513,healthcare,2
3,43758,Macon,Hewitt,12,james gordon center for learning,gotham city public schools,gcps,gcps43758,healthcare,1
4,71800,Jenette,Jimenez,12,lost boys academy,neverland public schools,nps,nps71800,NaN,0
...,...,...,...,...,...,...,...,...,...,...
993,14022,Damian,Lott,9,lucius fox high school,gotham city public schools,gcps,gcps14022,healthcare,2
994,69538,Vincent,Sweeney,9,lost boys academy,neverland public schools,nps,nps69538,NaN,0
995,74749,Chastity,Horne,12,james gordon center for learning,gotham city public schools,gcps,gcps74749,NaN,0
996,94683,Driscoll,Pennington,11,captain hook high school,neverland public schools,nps,nps94683,manufacturing,1
997,77113,Orli,Travis,9,lost boys academy,neverland public schools,nps,nps77113,NaN,4

In [34]:
wblcount_students.to_csv("Task 3.csv", index=False)

<font size="6">  
    Task 4: Identifying Pathway Students Not Engaged in WBL Events
</font>

 It is expected that all students enrolled in a pathway participate in at least one Work-Based  Learning (WBL) event during a given school year. The school administrators need a list of students  from each school who are in a pathway but have not yet participated in any WBL event.  Using the provided datasets, identify and list all pathway students from each school who have not  participated in any WBL event. Please provide a new dataset listing these students. Ensure the  dataset is structured in a way that can be easily distributed to school staff for each school. Include  any Python code used.

In [35]:
#making a new dataset from the wbl_students dataframe -- we already have the counts, why not use them!
#then filling empty pathway rows with "none" to be able to search. If pathway is not "none" and WBL_Event_count is 0, then they're added to the list
nowbl_students = wblcount_students.copy()

nowbl_students["pathway"] = nowbl_students["pathway"].fillna("none")

nowbl_students = nowbl_students[(nowbl_students["pathway"] != "none") & (nowbl_students["WBL_Event_Count"] == 0)]

nowbl_students

,id number,first name,last name,grade,school,district,dist_code,sys_id,pathway,WBL_Event_Count
16,38972,Nero,Macdonald,11,lost boys academy,neverland public schools,nps,nps38972,manufacturing,0
22,37870,Patience,Mueller,10,lucius fox high school,gotham city public schools,gcps,gcps37870,healthcare,0
31,97570,Shelly,Hill,10,lucius fox high school,gotham city public schools,gcps,gcps97570,healthcare,0
72,20630,Maggie,Navarro,11,lucius fox high school,gotham city public schools,gcps,gcps20630,healthcare,0
139,80390,Shafira,Perry,10,captain hook high school,neverland public schools,nps,nps80390,manufacturing,0
168,38119,Hop,Watts,10,captain hook high school,neverland public schools,nps,nps38119,manufacturing,0
207,45844,Cara,Mercado,9,lost boys academy,neverland public schools,nps,nps45844,manufacturing,0
217,42699,Carla,Vincent,12,lost boys academy,neverland public schools,nps,nps42699,manufacturing,0
233,21580,Christian,Rodriquez,9,lost boys academy,neverland public schools,nps,nps21580,manufacturing,0
241,70473,Bert,Lowe,9,lost boys academy,neverland public schools,nps,nps70473,manufacturing,0
344,64066,Glenna,Miranda,9,lost boys academy,neverland public schools,nps,nps64066,manufacturing,0
459,33409,Maryam,Gomez,9,james gordon center for learning,gotham city public schools,gcps,gcps33409,healthcare,0
491,63026,Glenna,Baker,10,james gordon center for learning,gotham city public schools,gcps,gcps63026,healthcare,0
502,85435,Brenda,Mueller,12,lucius fox high school,gotham city public schools,gcps,gcps85435,healthcare,0
520,77592,Myles,Beach,12,lost boys academy,neverland public schools,nps,nps77592,manufacturing,0
522,45761,Brandon,Fuller,11,lost boys academy,neverland public schools,nps,nps45761,manufacturing,0
571,79559,Blaze,Saunders,11,james gordon center for learning,gotham city public schools,gcps,gcps79559,healthcare,0
581,56143,Gay,King,12,captain hook high school,neverland public schools,nps,nps56143,manufacturing,0
674,33174,Zeph,Herring,12,captain hook high school,neverland public schools,nps,nps33174,manufacturing,0
707,17339,Brody,Booth,12,captain hook high school,neverland public schools,nps,nps17339,manufacturing,0
735,14324,Amaya,Stanley,9,captain hook high school,neverland public schools,nps,nps14324,manufacturing,0
747,34623,James,Hood,9,james gordon center for learning,gotham city public schools,gcps,gcps34623,healthcare,0
752,35255,Jesse,Pacheco,12,james gordon center for learning,gotham city public schools,gcps,gcps35255,healthcare,0
812,56520,Pascale,Mitchell,11,lost boys academy,neverland public schools,nps,nps56520,manufacturing,0
823,43451,Timon,Chapman,11,captain hook high school,neverland public schools,nps,nps43451,manufacturing,0
843,24755,Petra,Reeves,11,james gordon center for learning,gotham city public schools,gcps,gcps24755,healthcare,0
866,93135,Burton,Kline,12,james gordon center for learning,gotham city public schools,gcps,gcps93135,healthcare,0
901,10998,Rinah,Fitzgerald,9,james gordon center for learning,gotham city public schools,gcps,gcps10998,healthcare,0
907,23957,Erasmus,Cleveland,12,james gordon center for learning,gotham city public schools,gcps,gcps23957,healthcare,0
918,99940,Callum,Rosa,12,lost boys academy,neverland public schools,nps,nps99940,manufacturing,0
942,72881,Valentine,Zimmerman,11,captain hook high school,neverland public schools,nps,nps72881,manufacturing,0
950,88740,Hunter,Houston,11,james gordon center for learning,gotham city public schools,gcps,gcps88740,healthcare,0
956,75418,David,Harvey,12,lucius fox high school,gotham city public schools,gcps,gcps75418,healthcare,0
959,76031,Dane,Best,12,lost boys academy,neverland public schools,nps,nps76031,manufacturing,0

In [36]:
nowbl_students.to_csv("Task 4.csv", index=False)

Saving all to a book!

In [44]:
book = "ReadyCT Performance Tasks Workbook (Lucas Barber).xlsx"


#I have commented out the following code so that the excel formatting doesn't get saved over!!

# with pd.ExcelWriter(book, engine="openpyxl") as writer:
#     captain_james_attendance.to_excel(writer, sheet_name="Task 1", index=False)
#     updated_students.to_excel(writer, sheet_name="Task 2", index=False)
#     wblcount_students.to_excel(writer, sheet_name="Task 3", index=False)
#     nowbl_students.to_excel(writer, sheet_name="Task 4", index=False)

#Feel free to run if if you'd like, but it might just condense the columns, undoing the width formatting.